html,
body {
    margin: 0;
    height: 100%;
    transition: transform 1s;
}

img {
    height: 100%;
    width: 100%;
}

a {
    color: darkgray;
}

a:hover {
    color: white;
}

h1 a {
    text-decoration: none;
    color: white;
    margin: 0;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h1 a:hover {
    text-decoration: underline;
}

body {
    font-family: sans-serif;
    position: absolute;
    color: white;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    left: 0;
    right: 0;
}

p {
    color: darkgray;
}

.date {
    color: darkgray;
}

footer {
    text-align: center;
    color: darkgray;
    margin: 20px auto;
}