html,
body {
    margin: 0;
    height: 100%;
    transition: transform 1s;
}

img {
    height: 100%;
    width: 100%;
}

a,
footer,
p,
.date {
    color: darkgray;
}

a:hover,
h1 a,
body {
    color: white;
}

h1 a {
    text-decoration: none;
    margin: 0;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h1 a:hover {
    text-decoration: underline;
}

body {
    font-family: sans-serif;
    position: absolute;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    left: 0;
    right: 0;
}

footer {
    text-align: center;
    margin: 20px auto;
}