html,body,a{background-color:#000;transition:transform 1s;color:#fff}
img,.front,.back{height:100%;width:100%}
p,.date{color:#a9a9a9}
h1 a,html,body,a{margin:0}
h1 a,{text-decoration:none}
h1{margin:20px 0;text-align:center}
h1 a:hover{text-decoration:underline}
body,main,header{max-width:1200px}
body{font-family:sans-serif;position:absolute;margin:0 auto;left:0;right:0}
footer{text-align:center;margin:20px auto}
main,header{display:flex;flex-wrap:wrap;align-content:stretch;margin:0 auto;width:100%;flex-direction:row;justify-content:center;align-items:center}
article{margin:10px;width:280px;height:280px;position:relative;perspective:30rem}
p,h2{margin:20px}
.front,.back{position:absolute;transition:transform 1s;backface-visibility:hidden;-webkit-backface-visibility:hidden;border-color:gray;border-width:1px;border-style:solid;background-color:#000}
.back{transform:rotateY(180deg);cursor:pointer}
article:hover .front{transform:rotateY(180deg)}
article:hover .back{transform:rotateY(360deg)}
@media only screen and (max-width: 619px) {
article{width:80vw;height:80vw;margin:10vw 5vw}
}