main,
header {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article {
    margin: 10px;
    width: 280px;
    height: 280px;
    position: relative;
    perspective: 30rem;
}

p,
h2 {
    margin: 20px;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;   /* Bedankt, apple! */
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    background-color: black;
}

.back {
    transform: rotateY(180deg);
    cursor: pointer;
}

article:hover .front {
    transform: rotateY(180deg);
}

article:hover .back {
    transform: rotateY(360deg);
}

@media only screen and (max-width: 619px) {
    /* Als de device maar een card kan laten zien in de breedte, maak deze zo groot mogelijk */
    article {
        width: 80vw;
        height: 80vw;
        margin: 10vw 5vw;
    }
}