main {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article {
    margin: 9px;
    width: 280px;
    height: 280px;
    position: relative;
    perspective: 30rem;
}

p,
h2 {
    margin: 10px;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
    border-color: gray;
    background-color: black;
    border-style: solid;
    border-width: 1px;
}

.back {
    transform: rotateY(180deg);
}

article:hover .front {
    transform: rotateY(180deg);
}

article:hover .back {
    transform: rotateY(360deg);
}
